.header_BtnMainPage {
    padding: 8px;
    border: 1px solid #1a191f;
    border-radius: 15px;
    outline:none;
    background-color:#dcdbdf;
    font-size: 16px;
    text-decoration: none;
    color: white;
    display: flex;
  
}
.btnwatchLater{
  background: orange;
  display: flex;
  border: 1px;
  border-radius: 5px;
  }